@page
@model APPrST10106976.P1.Areas.Identity.Pages.Account.ToDoModel
@{
}



    <h1>
    What would you like to do
    </h1>
    <h4>
        Cash Donation
    </h4>
    <h3>
        <p>
            <a class="nav-link" href="/Identity/Account/Donations">
                <button id="Donation" type="submit" class="w-100 btn btn-lg btn-primary">
                    Cash Donation
                </button>

            </a>
        </p>
    </h3>


    <h2>
        Donate 
    </h2>
    <h3>
        <a class="nav-link" text-color="White" href="/Identity/Account/GoodDonations">
            <button id="GoodDonations" type="submit" class="w-100 btn btn-lg btn-primary">
               Donate Items 
            </button>
        </a>
    </h3>

    <h2>
        Disaster Page
    </h2>

    <h3>
        <a class="nav-link" text-color="White" href="/Identity/Account/Disaster">
            <button id="Disaster" type="submit" class="w-100 btn btn-lg btn-primary">
                Disasters
            </button>
        </a>

    <h2>
        View list
    </h2>
    <a class="nav-link" text-color="White" href="/Identity/Account/TheList">
        <button id="TheList" type="submit" class="w-100 btn btn-lg btn-primary">
            View List
        </button>
    </a>

    <h2>
        Items
    </h2>
    <a class="nav-link" text-color="White" href="/Identity/Account/TheList">
        <button id="Items" type="submit" class="w-100 btn btn-lg btn-primary">
            view Item
        </button>
    </a>
