@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome To DAF</h1>
    <h3 class="display-5">The Disaster aliviation foundation</h3>
   
   
         <a class="nav-link" href="/Identity/Account/Register">
            REGISTER
        </a>.
   
   
        <a class="nav-link" href="/Identity/Account/Login">
            LOGIN
        </a>
    

</div>
